/*
* Fonts
*/
$primary-font: "Raleway", sans-serif;

/*
* Color
*/
$primary: white;
$secondary:#464646;
$dark: #575656;
$blue: #00a8ec;
$yellow: #fff15f;
$yellow-100: #fff324;


/*
* Breakpoints
*/
$xs: '(max-width: 0px)';
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1400px)';



